#navbar{
    background-color: transparent !important;
}
#navbarNav{
    float: right;
    margin-left: 38em;
}
#googleplaydiv{
    margin-top: -10em;
    position: absolute;
    justify-content: center;
}
#moving_text_in_img{
    margin-top: -25em;
    position: absolute;
}

#div_relative_postion{
    position: relative;
}
#googleplaydiv div{
    width: auto;
    height: 50px;
    padding: 10px;
}
#googleplaydiv img{
    margin-top: -16px;
    margin-left: -25px;
}
#divone{
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 5px;
}
#divtwo{
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 5px;
}
#divthree{
    background-color: #00a8ff;
    border-color: #008cff;
    border-radius: 5px;
}
